Source: csvq
Section: text
Priority: optional
Maintainer: Yuki <qittu@me.com>
Build-Depends: debhelper (>= 10),
               golang (>= 1.16)
Standards-Version: 1.16.0
Homepage: https://github.com/mithrandie/csvq
Vcs-Browser: https://github.com/mithrandie/csvq.git
Vcs-Git: https://github.com/mithrandie/csvq.git

Package: csvq
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends}
Description: SQL-like query language for csv
 A command line tool to operate CSV files.
